@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);


body {
    padding: 0;
    margin: 0;
  }

  h1 {
    text-align: center;
    color: white;
  }

  p {
    text-align: center;
    color: white;
  }

  .fab{
    font-size: 5vh;
    color: white;
  }
  .fas{
   
    font-size: 5vh;
    color: white;
  }

  a:link {
    text-decoration: none;
  }

  .fas {
        font-size: 4vh;
        color: #f4eeff;
        padding: 0.5vh 1vh;
  }

  .fab {
    left: 50%;
    font-size: 4vh;
    color: #f4eeff;
    padding: 0.5vh 1vh;
}
.icons{
   margin-left: auto; 
   margin-right: auto; 
   width: fit-content;
}
  
  .content {
    background-color:#AF4D98; 
  
    /* Keeps content in center of page and on top */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    height:200px;
    position: absolute;
  
  }

 
 * {
    font-family: 'Waiting for the Sunrise', 'monospace';
 }
